Source: g7ctrl
Maintainer: Johan Persson <johan162@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), autoconf, libtool, libreadline-dev, libusb-dev (>= 1.0), libpcre3-dev, libsqlite3-dev, libcurl4-openssl-dev, libhpdf-dev, docbook5-xml, docbook-xsl-ns, libxml2-dev, fop, xsltproc 

Package: g7ctrl
Architecture: any
Depends: adduser, ${shlibs:Depends}, ${misc:Depends} 
Description: Control daemon for the GM7 GPS tracker
 The package contains a control daemon for the GM7 GPS tracker. 
 The daemon can be used to control the tracker and also receive 
 position updates from the tracker and store positions in a database. 
 The daemon can also notify user by sending mail on specified events. 
 In addition to the daemon the package also contains a basic command 
 shell that can be used to control the daemon and in extension 
 connected  trackers.


