#Set up device suitable for use as vehicle alarm
#The preset does the following:
# 1. Enables GPRS communication
# 2. Puts the device in sleep mode 3 (wake up on movement, all radios off)
# 3. Enables geo fencing with 120m fence
# The device will notify both through SMS and event back to server
# when it is awaken and if it moves outside the 120m virtual fence
comm(4,"","",internet.telenor.se,"","",[SERVER_IP],3400,120,"")
ps(3,0,2,0,0,0,0)
gfen(1,100,2,2,1)
